<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <style type="text/css">
            .color-red { color: red }
            .color-blue { color: blue }
            .is-loading { background: red }
        </style>
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <div id="app">
            <h1 v-text="new Date()"></h1>
            <h1>{{ reversedMessage }}</h1>
            <h1>
                All tasks
            </h1>
            <ul>
                <li v-for="task in tasks" v-text="task.description"></li>
            </ul>

            <h1>
                Incomplete tasks
            </h1>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
        </div>        

        <script>
            const { createApp, ref, computed} = Vue

            var app = createApp({
                setup() {
                    const message = ref('Hello World')
                    const tasks = ref([
                        { description: 'Go to the store', completed: false },
                        { description: 'Finish screancast', completed: false },
                        { description: 'Make dinner', completed: false },
                        { description: 'Clean room', completed: true },
                        { description: 'Make donation', completed: true }
                    ])
                    const reversedMessage = computed(() => {
                        return message.value.split('').reverse().join('')
                    })
                    const incompleteTasks = computed(() => {
                        return tasks.value.filter(task => !task.completed )
                    })
                    return {
                        message,
                        reversedMessage,
                        tasks,
                        incompleteTasks
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>